
.drop-hover-active {
	border: 2px dotted;
	border-color: #FE57A1;
	background: #aaa;
}

.kaboom-hover-active {
	cursor: pointer;
	border: 1px dotted;
	border-color: #FE57A1;
}

#property-list {
	border: 1px solid;
	border-collapse:collapse;
	border-color: #FE57A1;
	width: 100%;
}

#property-list th{
	border: 1px solid;
	border-color: #FE57A1;
}

#property-list td{
	border: 1px solid;
	border-color: #FE57A1;
}

pre {font-family: 'Courier New', monospace;}